#_container_ {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#review {
  display: flex;
  justify-content: flex-start;
  margin: 90px !important;
  width: 550px !important;
}

#similar_listings {
  margin-left: 90px !important; 
}

