.modules {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unitInfo {
  background-color: blueviolet;
  width: 50%;
  order: 0;
}

.bookingWidget {
  background-color: bisque;
  order: 1;
  width: 50%;
}