.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.modules {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 40px;
}

.unitInfo {
  width: 550px;
  min-width: 350px;
  max-width: 550px;
  border-top: 2px;
  display: flex;
  flex-direction: column;
  /* margin: 10px;
  margin-right: 50px;
  padding: 10px; */
}

.bookingContainer {
  /* position: -webkit-sticky;
  position: sticky; */
}

.bookingWidget {
  width: 300px;
  height: auto;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border: solid 1px lightgray;
  margin-top: 30px;
  padding: 30px;
  /* position: -webkit-sticky;
  position: sticky;
  top: 100px; */
}

.stickThis {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}