.container {
  display: flex;
  z-index: 1;
}

.monthContainer {
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  color: #383838;
  padding: 5px;
  margin-bottom: 10px;
}

.arrow {
  font-size: 25px;
  background-color: white;
  border: 1px solid lightgray;
  cursor: pointer;
  width: 35px;
  display: flex;
  justify-content: center;
}

.table {
  margin-bottom: 10px;
}


.monthTitle {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  width: 270px;
  height: 400px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 15px;
}

.weekdays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 265px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  color: grey;
  margin-bottom: 10px;
}

.dates {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 265px;
}

.dateFormat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 35px;
}

.dateCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  width: 14%;
  font-family: 'Raleway', sans-serif;
  color: #383838;
  font-weight: bold;
  font-size: 12px;
}

.dateCellNull {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 14%;
  border: 1px solid white;
}

.dateCellCrossed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 14%;
  font-family: 'Raleway', sans-serif;
  color:lightgrey; 
  font-weight: bold;
  font-size: 12px;
  text-decoration: line-through;
  cursor: default;
}

.validDate {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.validDate:hover {
  background-color: lightgrey;
}

.markX {
  background-color: #00e8c4;
}

.markY {
  background-color: #00858c;
}

.markX:hover {
  background-color: #00e8c5cc;
}

.markY:hover {
  background-color: #00858cbe;
}