.unitOwner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partAvailable {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #383838;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  color: #383838;
  max-width: 50px;
  padding-bottom: 5px;
}

.city {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #383838;
  padding-bottom: 15px;
}

.ownerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 65px;
  width: 65px;
}

.profilePic {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.ownerName {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: grey;
}